.main {
    display: inline-block;
    border: 2px solid blue;
    border-radius: 5px;
    vertical-align: bottom;
    margin: 0 10px;
}

.changers {
    box-sizing: border-box;
    width: 350px;
    height: 120px;
    border: 2px solid blue;
    border-radius: 5px;
    margin: 10px;
}

.buttons {
    box-sizing: border-box;
    width: 350px;
    border: 2px solid blue;
    border-radius: 5px;
    margin: 10px;
}